<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">{{site-main-title}} --- {{site-sub-title}} </a>
  </div>
  <!-- /.navbar-header -->

  <!-- /.navbar-top-links -->
  <script>
   function goSearch(){
       if($('#searchInSite').is(':checked')){
           $('#s').val($('#s').val()+'   site:{{site-domain}}');
       }
   }
  </script>
  <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
              <li class="sidebar-search">
                  <form method="get" class="form-inline" id="searchform" onsubmit="goSearch()" target="_blank" action="http://search.aol.com/aol/search">
                      <div class="form-group">
                          <label class="sr-only" for="s">Search inputbox</label>
                          <input type="text" class="form-control" name="q" id="s" value="">

                      </div>
                      <div class="checkbox">
                          <label>
                              <input type="checkbox" id="searchInSite"> 本站搜索
                          </label>
                      </div>
                      <!-- <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                      <i class="fa fa-search"></i>
                      </button>
                      </span>
                      -->
                  </form>
          <!-- /input-group -->
        </li>

        {{#nav-categories}}
          <li><a href="{{category-uri}}">{{category-name}}</a></li>
        {{/nav-categories}}
        <li><a href="/tags/">Tags</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="{{github}}">GitHub</a></li>
        <li><a href="/rss.xml">RSS</a></li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
